<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Operarios</title>
</head>
<body>
    <h1>Operarios de Coder:</h1>
    <ul>
        {% for operario in object_list %}
            <li>
                <p>Profe: {{ operario.nombre }} {{ operario.apellido }}</p>
                <p>
                    <a href="{% url 'operarios_detail' operarios.id %}">Ver</a>
                    <a href="{% url 'operarios_update' operarios.id %}">Editar</a>
                    <a href="{% url 'operarios_delete' operarios.id %}">Eliminar</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'operario_create' %}">Crear Nuevo</a>
</body>
</html>